<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">

<!-- template test -->
<taglib>
    <tlib-version>1.0</tlib-version>
    <jsp-version>1.2</jsp-version>
    <short-name>web</short-name>
    <uri>http://euler.com/css</uri>
    <display-name>redamm web tags</display-name>
    <small-icon/>
    <large-icon/>
    
    <tag>
        <name>content</name>
        <tag-class>com.euler.web.taglib.CssContent</tag-class>
        <body-content>jsp</body-content>
        <display-name/>        
        <attribute>
            <name>className</name>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <attribute>
            <name>id</name>
            <rtexprvalue>true</rtexprvalue>
            <type>java.lang.String</type>
        </attribute>
        <description>
            Use of multiplex css classes
        </description>
    </tag> ¡
</taglib>
